# Keil MDK
*.uvguix.*
*.uvprojx
*.uvoptx
*.scvd
*.crf
*.d
*.dep
*.htm
*.lst
*.lnp
*.iex
*.build_log.htm
*.axf
*.elf
*.o
*.obj
*.out
*.lib
JLinkLog.txt
JLinkSettings.ini
*.ini

# EIDE build output
demo/EIDE/build/

# MSPM0 SysConfig backup
*.syscfg.bak

# IDE
.vscode/
*.code-workspace

# OS
Thumbs.db
Desktop.ini
.DS_Store
